/**
 * @file
 * Styling for MyCalendarTabs.
 *
 * Styles the 'Month', 'Year', and 'Upcoming' buttons for MyCalendarTabs for
 * choosing which block to show.
 */
#mycalendartabs-tabs {
  span {
    /* Styling for all calendar tabs. */
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  
  .selected {
    /* Button styling for selected calendar tab. */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: gray;
    color: white;
  }
}

/* Initially hides the calendar blocks that aren't selected. */
#calendar-year, #calendar-upcoming {
  display: none;
}