/**
 * @file
 * Styling for MyMembership forms.
 * 
 * Most of these are small adjustments to make things look cleaner. Some of
 * these have a large impact on how the admin form is displayed.
 */

form > div > div {
  padding-left: 5px;
  height: 50px;
}

form > div > div > span {
  display: inline-block;
  margin-left: 5px;
  margin-top: 12.5px;
}

form > div > div:nth-child(even) {
  background-color: #deedfa;
}

form > div > div:nth-child(odd) {
  background-color: #fff;
}


form > div > div > input {
  float: left;
  margin-top: 8px;
}

.form-radios > div:first-child {
  left: 100px;
  position: absolute;
  line-height: 1;
}

.form-radios > div:nth-child(2) {
  left: 200px;
  position: absolute;
    line-height: 1;

}

.description {
  position: absolute;
  left: 300px;
}


.ajax-progress.ajax-progress-throbber {
  float: left;
  z-index: 100;
  display: block;
  background-color: inherit;
  width: 100%;
  position: absolute;
  height: 37.5px;
  margin-left: -5px;
  padding-top: 12.5px;
}


// Styles the 'All' spans into buttons.
.mymembership-button {
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px gray solid;
  width: 120px;
  text-align: center;
  margin: 5px;
  background-color: gray;
  color: white;
  cursor: pointer;
}